<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/templates/images/GitCareers.jpg" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />
    <title>About Us</title>
    <style>
      .fade-this {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
      }
      @-webkit-keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .card {
        border-radius: 1em;
      }
    </style>
  </head>
  <body style="background-color: black">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/templates/index.html">
          <img src="images/GitCareers_v2.svg" alt="GitCareers" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/templates/about.html">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="text-light text-center mt-4 mb-4 fade-this"><u>About Us</u></h1>
    <div class="row m-3 d-flex justify-content-center fade-this">
      <div class="card bg-dark m-3" style="max-width: 60rem">
        <div class="card-header text-light">
          Project Role: Frontend Developer
        </div>
        <div class="card-body">
          <div class="my-2 w-100">
            <img
              class="rounded-circle"
              src="./images/NTXYE0471 1.jpg"
              alt="Card image cap"
              style="max-width: 7rem"
            />
          </div>
          <h4 class="card-title text-light">Carson Jennings</h4>
          <p class="card-text text-light">School: University of Victoria</p>
          <p class="card-text text-light">
            Degree: Bachelour’s of Science in Computer Science
          </p>
          <p class="card-text text-light">Skills: Python, Java, C, HTML, CSS</p>
          <p class="card-text text-light">
            Fun fact: I can juggle and ride a unicycle (not at the same time
            though)
          </p>
        </div>
      </div>
      <div class="card bg-dark m-3" style="max-width: 60rem">
        <div class="card-header text-light">
          Project Role: Fullstack Developer
        </div>
        <div class="card-body">
          <div class="my-2">
            <img
              class="rounded-circle"
              src="https://avatars.githubusercontent.com/u/57025422?v=4"
              alt="Card image cap"
              style="max-width: 7rem"
            />
          </div>
          <h4 class="card-title text-light">Adarsh Chhokar</h4>
          <p class="card-text text-light">School: Simon Fraser University</p>
          <p class="card-text text-light">
            Degree: Bachelour’s of Science in Computer Science
          </p>
          <p class="card-text text-light">
            LinkedIn:
            <a
              class="text-light"
              href="https://www.linkedin.com/in/adarsh-chhokar-5b13641aa/"
              target="_blank"
              rel="noopener noreferrer"
              >linkedin.com/in/adarsh-chhokar</a
            >
          </p>
          <p class="card-text text-light">
            Fun fact: I play in OPEN tennis tournaments annually (singles and
            doubles)
          </p>
        </div>
      </div>
      <div class="card bg-dark m-3" style="max-width: 60rem">
        <div class="card-header text-light">
          Project Role: Backend Developer
        </div>
        <div class="card-body">
          <div class="my-2">
            <img
              class="rounded-circle"
              src="./images/IMG_1511 1.jpg"
              alt="Card image cap"
              style="max-width: 7rem"
            />
          </div>
          <h4 class="card-title text-light">Charlie Wager</h4>
          <p class="card-text text-light">School: University of Victoria</p>
          <p class="card-text text-light">Major: Software Engineering</p>
          <p class="card-text text-light">Spotify/Apple Music: CHARLIEWAGER</p>
          <p class="card-text text-light">
            Skills: C, Java, Python, Javascript
          </p>
        </div>
      </div>
      <div class="card bg-dark m-3" style="max-width: 60rem">
        <div class="card-header text-light">Project Role: UI/UX Designer</div>
        <div class="card-body">
          <div class="my-2">
            <img
              class="rounded-circle"
              src="./images/image 21.jpg"
              alt="Card image cap"
              style="max-width: 7rem"
            />
          </div>
          <h4 class="card-title text-light">Eric Tan</h4>
          <p class="card-text text-light">
            School: British Columbia Institute of Technology
          </p>
          <p class="card-text text-light">
            Skills: UX & UI Design, Business Strategy
          </p>
          <p class="card-text text-light">
            LinkedIn:
            <a
              class="text-light"
              href="https://www.linkedin.com/in/ericistan/"
              target="_blank"
              rel="noopener noreferrer"
              >linkedin.com/in/ericistan</a
            >
          </p>
          <p class="card-text text-light">Fun Fact: Chicken rice addict</p>
        </div>
      </div>
    </div>
    <footer class="footer mt-auto mb-3 text-center text-light">
      Copyright &copy GitCareers. All Rights Reserved.
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
