<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitCareers</title>
    <link rel="icon" href="/templates/images/GitCareers.jpg" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/lux/bootstrap.min.css"
    />
    <style>
      .fade-this {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
      }
      @-webkit-keyframes fadein {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .box {
        margin: 10px 10px 10px 10px;
      }
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100" style="background-color: black">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/templates/index.html">
          <!-- add logo to nav home -->
          <img src="images/GitCareers_v2.svg" alt="GitCareers" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/templates/about.html">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="text-light text-center mt-4 fade-this">GitGood, GitCareers</h1>
    <h3 class="text-light text-center mt-4 mb-4">
      Find the right dev job using your <u>GitHub username</u>
    </h3>
    <div class="container-fluid mb-1">
      <form class="row d-flex justify-content-center">
        <div class="form-group" style="max-width: 100vh">
          <div class="input-group">
            <input
              type="text"
              class="form-control mr-2"
              id="exampleInputEmail1"
              required
              placeholder="Enter your GitHub username"
              style="border-radius: 1em 0em 0em 1em"
            />
            <select
              class="form-select"
              id="country"
              style="max-width: 15vw; border-left: solid #1a1a1a 1px"
            >
              <option>Canada</option>
              <option>United States</option>
              <option>Great Britain</option>
              <option>Australia</option>
              <option>New Zealand</option>
              <option>India</option>
            </select>
            <button
              type="submit"
              class="btn btn-success"
              style="border-radius: 0em 1em 1em 0em"
            >
              Search
            </button>
            <div class="invalid-feedback">User not found. Try another?</div>
          </div>
          <small class="form-text text-muted"
            >We'll never share your username with anyone else.</small
          >
          <div class="form-check m-1">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="intern"
              style="border-radius: 5px"
            />
            <label class="form-check-label text-muted" for="flexCheckDefault">
              Looking for internships
            </label>
          </div>
        </div>
      </form>
    </div>
    <img
      id="loading"
      src="https://www.superiorlawncareusa.com/wp-content/uploads/2020/05/loading-gif-png-5.gif"
      alt="Loading..."
      width="150"
      height="150"
      style="display: block; margin-left: auto; margin-right: auto"
    />
    <section id="profile"></section>
    <section class="row mx-4 d-flex justify-content-center" id="jobs"></section>
    <footer class="footer mt-auto mb-3 text-center text-light">
      Copyright &copy GitCareers. All Rights Reserved.
      <a
        class="text-light"
        href="http://github.com/StarbzYT/GitCareers"
        target="_blank"
        rel="noopener noreferrer"
        >OpenSource</a
      >
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="../api/main.js"></script>
  </body>
</html>
